In [37]:
import pandas as pd
import numpy as np
import random as rd

In [20]:
data = {
    'Name' : ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age':[25 ,30, None, 28, 24],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female'],
    'Math_Score':[85, 92, 78, 88, 76],
    'Science_Score':[90, None, 85, 92, 88],
    'Passed_Exam':['Yes', 'Yes', 'No', 'Yes', 'No']
}
df = pd.DataFrame(data)
print(df)

      Name   Age  Gender  Math_Score  Science_Score Passed_Exam
0    Alice  25.0  Female          85           90.0         Yes
1      Bob  30.0    Male          92            NaN         Yes
2  Charlie   NaN    Male          78           85.0          No
3    David  28.0    Male          88           92.0         Yes
4    Emily  24.0  Female          76           88.0          No

In [32]:
df['Date'] = pd.date_range(start='2024-08-14', periods=len(df),freq='D')
df=df.set_index('Date')
print(df)

               Name   Age  Gender  Math_Score  Science_Score Passed_Exam
Date
2024-08-14    Alice  25.0  Female          85           90.0         Yes
2024-08-15      Bob  30.0    Male          92            NaN         Yes
2024-08-16  Charlie   NaN    Male          78           85.0          No
2024-08-17    David  28.0    Male          88           92.0         Yes
2024-08-18    Emily  24.0  Female          76           88.0          No

In [45]:
data={
    'Name' : [0,0,0,0,0],
    'Age':[25 ,30, 0, 28, 24],
    'Gender': [0,0,0,0,0],
    'Math_Score':[85, 92, 78, 88, 76],
    'Science_Score':[90, 0, 85, 92, 88],
}
df = pd.DataFrame(data)
print(df)

   Name  Age  Gender  Math_Score  Science_Score
0     0   25       0          85             90
1     0   30       0          92              0
2     0    0       0          78             85
3     0   28       0          88             92
4     0   24       0          76             88

In [54]:
for row in range(df.shape[0]):
    # print(row)
    for col in range(df.shape[1]):
        print(col)
        df.iat[row, col]=rd.randint(1,1000)
print(df)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
0
1
2
3
4
   Name  Age  Gender  Math_Score  Science_Score
0   722  121     589         532            915
1   754  271     822         952            352
2   885  504     557         357            590
3   719  443     133         419            842
4   849  774     390         278            694